#menu-posts-adm_coworker .dashicons-admin-post:before {
    content: '\f337';
}

.custom-field__label {
    display: inline-block;
    width: 175px;
    text-align: right;
}

.custom-field__label:after {
    content: ' : ';
}