/**
  * "socialBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.socialBlock
{
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this : socialBlock;

  // --------------------------------------------------------------------------- BLOCK

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &_item
  {
    position: relative;
    @include size(4rem, $navBarHeight);
    //margin: auto 5px;
    border-right: 1px solid $color4;
  }

  &_link
  {
    // cercle autour de l'icon
    &:after {
      content: '';
      @include center();
      border: 1px solid $color4;
      @include size(28px);
      border-radius: 4rem;
    }
  }

  &_icon
  {

    @include center();

    &-facebook
    {
      // ajustement du positionnement de l'icon
      margin: 1px 0 0 -2px;

      & > svg
      {
        @include size(18px);
      }
    }

    &-twitter
    {
      // ajustement du positionnement de l'icon
      margin: 1px 0 0 0;

      & > svg
      {
        @include size(14px);

      }
    }

    & *
    {
      // couleur appliquée sur tous les élements enfants
      fill: $color3;

      &:hover
      {

      }
    }

  }



  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



