/**
  * "socialBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.socialBlock
{
  // --------------------------------------------------------------------------- PROPERTIES

  // Call block element anywhere. Use it like this : .#{$this}_element
  $this : socialBlock;

  // --------------------------------------------------------------------------- BLOCK

  background: gold;

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    list-style: none;
    display: flex;
    align-items: center;


    //background: green;
  }

  &_item
  {
    @include size(30px);
    background: red;
  }

  &_link
  {

  }

  &_icon
  {

    &-facebook
    {
      & > svg
      {
        @include size(24px);
      }
    }

    &-twitter
    {
      & > svg
      {
        @include size(20px, 20px);

      }
    }

    & *
    {
      fill: $color3;
    }

  }



  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



