/**
  * "menu" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.menu
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : menu;

  // --------------------------------------------------------------------------- BLOCK

  // position

  // style
  @include title-smallUppercase();

  // --------------------------------------------------------------------------- ELEMENTS

  /**
     EXCEPTION :
     Normalement, on ne doit jamais styler le markup DOM directement
     mais plutôt la class associée à ce markup.

     Ici le menu est généré par WP sans class custom, donc on se permet
     l'exception de styler les markups enfants de "menu"
   */

  & > ul
  {
    // position
    position: relative;
    @include size(100%, $navBarHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    // style
    // ...
  }

  & > ul > li
  {

    // position
    position: relative;
    @include size(100%, $navBarHeight);
    padding: 0 3.2rem;

    // style
    border-right: 1px solid $color4;

  }

  & > ul > li > a
  {
    // position
    @include center();
    color: $color3;

    // style reset
    border: 0;


  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



