{#
 * @title : "menu" TWIG view component
#}


{% if menu %}
<nav class="menu {{ classElement }}">
    <ul class="menu_items">
        {% for item in menu.items %}
            <li class="menu_item {{ item.classes|join(' ') }}">
                <a class="menu_link" href="{{ item.link }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
