/**
  * "menu" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.menu
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : menu;

  // --------------------------------------------------------------------------- BLOCK

  // position

  // style
  @include title-smallUppercase();
  @media screen and (max-width: $large) {
    font-size: 1.5rem;
  }

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    // position
    position: relative;
    @include size(100%, $navBarHeight);
    display: flex;
    align-items: center;
    justify-content: center;
    // style
    // ...
    list-style: none;

    @media screen and (max-width: $large) {
      display: block;
      @include size(100%, auto);
    }
    
  }

  &_item
  {

    // position
    position: relative;
    @include size(100%, $navBarHeight);
    padding: 0 3.2rem;

    // style
    border-right: 1px solid $colorNavBarLine;

    @media screen and (max-width: $large) {
      border-right: 0px;
    }
  }

  &_link
  {
    // position
    @include center();
    color: $color3;

    // style reset
    border: 0;
    text-decoration: none;




    &:hover
    {
      color:$color1;
    }

  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



