@import "_mixins";
@import "_variables";

body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h3 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  color: $color-gray-dark;
}
