@import "_mixins";
@import "_variables";


/* ADM custom general styles */
body {
  background: #EDECE4;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0F0F0F;
  line-height: 1.5;
}
* {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
p {
  margin-top: 1.5em;
}
h1,
h2 {
  color: $color-green-light;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  > a {
    color: inherit;
    text-decoration: none;
  }
  > a:hover {
    text-decoration: underline;
  }
}
h2 {
  font-size: 1.8em;
}


/* ADM layout style */
.container {
  width: 920px;
  margin: 0 auto;
}


/* ADM Header */
header {
  @include clearfix;
  margin-bottom: 1em;
  position: relative;
}
.site-title {
  float: left;
  width: 360px;
  margin-right: 2em;
}
.site-logo {
  max-width: 100%;
}
.site-menu {
  margin: 90px 0;
  margin-left: 400px;
  font-size: 14px;
  position: relative;
}


/* ADM entry style */
.content,
.entry-content {
  overflow: hidden;
}
.content-preside {
  float: left;
  width: 220px;
  margin-right: 10px;
}
.content-aside {
  float: right;
  width: 220px;
  margin-left: 10px;
}
.content-bandeau {
  margin-bottom: 20px;
}
.content-bandeauImage {
  display: block;
  max-width: 100%;
}
.entry-title {
  padding: 10px 20px;

  background: $color-green-light;
  color: white;
}
.entry-content {
  background: white;
  padding: 10px 20px;
  font-size: 0.8em;
}
.entry-content > p:first-child {
  margin-top: 0;
}
