@import "_mixins";
@import "_variables";


body {
  background: #EDECE4;
}

/* ADM layout style */
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


/* ADM Header */
header {
  @include clearfix;
  margin-bottom: 1em;
  position: relative;
}
.site-title {
  float: left;
  width: 360px;
  margin-right: 2em;
}
.site-logo {
  max-width: 100%;
}
.site-menu {
  margin: 90px 0;
  margin-left: 400px;
  font-size: 14px;
  position: relative;
}


/* ADM entry style */
.content,
.entry-content {
  overflow: hidden;
}
.content-preside {
  float: left;
  width: 220px;
  margin-right: 10px;
}
.content-aside {
  float: right;
  width: 220px;
  margin-left: 10px;
}
.content-bandeau {
  margin-bottom: 20px;
  @media #{$mq-to-large} {
    display: none;
  }
}
.content-bandeauImage {
  display: block;
  max-width: 100%;
}
.entry-title {
  padding: 10px 20px;

  background: $color-green-base;
  color: white;
}
.entry-content {
  background: white;
  padding: 10px 20px;
  font-size: 0.8em;
}
.entry-content > p:first-child {
  margin-top: 0;
}
