/* Colors */
$color-gray-lighter: #A8AAA8;
$color-gray-light: #878180;
$color-gray-dark: #464546;
$color-green-light: #7EAC28;
$color-grey-dark: #545353;
$color-blue: #58C2E1;
$color-dark-blue: #388fa9;
$color-green: #88BA30;
$color-dark-green: #498808;
$color-orange : #EF8741;
