@mixin clearfix {
  zoom: 1;
  &:before,
  &:after { content :""; display: table; }
  &:after { clear: both; }
}

@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: red) {
  width: 0;
  height: 0;
  font-size: 0;
  content: "";
  border: $height/2 solid transparent;
  
  // Right
  @if ($direction == right) {
    border-left: $width solid $color;
    border-right: 0;
  }

  // Left
  @if ($direction == left) {
    border-right: $width solid $color;
    border-left: 0;
  }

  // Up
  @if ($direction == up) {
    border-bottom: $width solid $color;
    border-top: 0;
  }

  // Down
  @if ($direction == down) {
    border-top: $width solid $color;
    border-bottom: 0;
  } 
}