@import "../mixins";
@import "../variables";


/* */
.menu-link {
  display: none;
}
.menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu a {
  display: inline-block;
  position: relative;
  border-bottom: 5px transparent solid;

  color: $color-gray-dark;
  text-decoration: none;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: underline;
}
.menu > ul {
  > .menu-item:hover,
  > .current-menu-item, 
  > .current_page_item {
    > .sub-menu {
      display: block;
    }
    > a:before {
      @include arrow(5px, 10px, up, $color-green-base);
      position: absolute;
      left: 50%;
      bottom: -5px;
      margin-left: -5px;
    }
  }
}

.menu > ul > li {
  display: inline;
  padding-right: .5em;
}


/* Main menu level 2 */
.menu .sub-menu {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0.5em;

  background: $color-green-base;

  color: white;
  line-height: 1;

  .menu-item {
    display: inline;
  }
  .menu-item + .menu-item::before {
    content: " • ";
  }
  a {
    color: white;
    border-bottom: 0;
  }
}

/* social icons*/


.social-links{
	position: absolute;
	right: 0;
	top: 0;}
				
				
.social-links li{
	list-style: none;
	}