@import "../mixins";
@import "../variables";


/* */
.menu-link {
  display: none;
}
.menu > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu a {
  display: inline-block;
  position: relative;
  border-bottom: 5px transparent solid;

  color: $color-grey-dark;
  text-decoration: none;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: underline;
}
.menu > ul {
  > .page_item:hover,
  > .current_page_item,
  > .current_page_ancestor {
    > .children {
      display: block;
    }
    > a:before {
      @include arrow(5px, 10px, up, $color-green-light);
      position: absolute;
      left: 50%;
      bottom: -5px;
      margin-left: -5px;
    }
  }
}
/* Main menu level 2 */
.menu .children {
  display: none;
  position: absolute;
  width: 100%;
  padding: 0.5em;

  background: $color-green-light;

  color: white;
  line-height: 1;

  .page_item {
    display: inline;
  }
  .page_item + .page_item::before {
    content: " • ";
  }
  a {
    color: white;
    border-bottom: 0;
  }
}