{#
 * @title: "presentationAdmBlock" TWIG view component
 * @description:
 #}

<div class="presentationAdmBlock {{ classElement }}">
    {# TODO à placer en back #}

    <section class="presentationAdmBlock_wrapper">
        <div class="presentationAdmBlock_content">
            <h1 class="presentationAdmBlock_title">Travailler à l'atelier</h1>
            <div class="presentationAdmBlock_text">
                <p>Créé en 2008, l’Atelier des Médias est le 1er espace de coworking lyonnais.
                C’est une association qui regroupe des professionnels des médias (journalisme, web, graphisme, traduction, vidéo/photo, etc.),
                un vivier de compétences qui collabore et invente de nouveaux modes de travail dans ce lieu de 212 m2 en centre ville.
                </p>
                <p>Créé en 2008, l’Atelier des Médias est le 1er espace de coworking lyonnais.
                    C’est une association qui regroupe des professionnels des médias (journalisme, web, graphisme, traduction, vidéo/photo, etc.),
                    un vivier de compétences qui collabore et invente de nouveaux modes de travail dans ce lieu de 212 m2 en centre ville.
                </p>
            </div>
        </div>
    </section>
</div>
