/**
  * "presentationAdmBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.presentationAdmBlock
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : presentationAdmBlock;

  // --------------------------------------------------------------------------- BLOCK

  padding: 3rem 0;
  background: $color1;

  // --------------------------------------------------------------------------- ELEMENTS

  &_wrapper
  {
    @include size( ($columnWidth * 6), auto );
    max-width: 960px;
    margin: auto;
  }

  &_content
  {
    display: flex;
    align-items: center;
  }

  &_title
  {
    @include size( ( (100% / $totalGrid) * 4 ), auto );
    @include title();
  }

  &_text
  {
    @include size( ( (100% / $totalGrid) * 8 ), auto );
    display: block;

    // <p> généré par l'admin WP
    & > p:not(:first-child) {
      margin-top: 1rem;
    }
  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



