/**
  * "featureBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.featureBlock
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : featureBlock;

  // --------------------------------------------------------------------------- BLOCK

  
  // --------------------------------------------------------------------------- ELEMENTS

  &_content
  {
    //background:darkkhaki;
    @include flex (flex, column, wrap, flex-start, center);
  }

  &_icon
  {
    display: block;
    position: relative;
    & > svg
    {
      @include size(60px);
    }

  }
  
  &_description
  {
    margin-top: 1rem;
  }

  &_text
  {
    text-align: center;
    text-transform: uppercase;
    color:$color9;

    &:nth-child(1)
    {
      @include lato-light();
      font-size: 0.9rem;
    }
    &:nth-child(2)
    {
      @include lato-bold();
      font-size: 1.3rem;

    }
  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



