/**
  * @Filename: colors
  * @Description: colors of this project
  *
  * - text 			
  * - background 	
  * - element 			
  * 
*/

//------------------------------------------------------------------------------  TEXT

$color1: #ffffff;
$color2: #000000;

//------------------------------------------------------------------------------  ELEMENTS

$colorEl1: #ffffff;
$colorEl2: #000000;