/**
  * @Filename: colors
  * @Description: colors of this project
  *
*/

//------------------------------------------------------------------------------  BASIC

$color1: #ffffff;
$color2: #000000;
$color3: #84CBD5; // bleu vert
$color4: #e2e2e2; // gris clair
$color5: #908C8A; // gris medium clair

//------------------------------------------------------------------------------  ELEMENTS

$colorEl1: #ffffff;
$colorEl2: #000000;