{#
 * @title: "activityFilterBar" TWIG view component
 * @description:
 #}

<div class="activityFilterBar {{ classElement }}">
    <ul class="activityFilterBar_items">
        {%  for item in activities %}
        <li class="activityFilterBar_item">
            <a class="activityFilterBar_link" href="">
                {{ item }}
            </a>
        </li>
        {% endfor %}

        {# la loupe cliquable pour lancer une recherche ? #}
        {#<li class="activityFilterBar_item">#}
            {#<a class="activityFilterBar_link">#}
                {#{% include "src/common/images/icon-loupe.svg" %}#}
            {#</a>#}
        {#</li>#}
    </ul>
</div>
