/**
  * "bigCover" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.bigCover
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : bigCover;

  // --------------------------------------------------------------------------- BLOCK

  overflow: hidden;

  // --------------------------------------------------------------------------- ELEMENTS

  &_video
  {
    display: block;
    @include center();
    @include size(auto);
    @include minSize(100%);

    //object-fit: cover; // Not support by IE
    // solution: placer la video en absolute center et appliquer en JS la taille
    // du window height sur le container video
  }

  // la div sur laquelle est appliquée l'image
  &_backgroundImage
  {
    // position
    position: relative;
    @include size(100%, 100vh);
    
    // style
    // background-image : directement dans la DOM
    background-size: cover;
    background-position: center;

  }

  // zone de texte au bottom de la cover
  &_banner
  {
    // position
    position: relative;
    @include size(100%, auto);
    @include position(absolute, null 0 0 0);
    padding: 2rem 3rem;
    z-index: 2;

    // style
    background-color: $color7;
    color: $color1;
    text-align: center;
    @include lato-light();
    font-size: 1.05rem;
    //letter-spacing: 1px;
  }

  &_bannerText
  {
    // reset
    margin:0;
  }

  &_arrowDown
  {
    // position
    margin: 1rem auto 0;
    position: relative;
    @include size(13px);

    // style
    border-left: 3px solid $color6;
    border-bottom: 3px solid $color6;
    transform: rotate(-45deg);

  }

  // gros logo ADM centré sur l'image
  &_logo
  {
    @include center();
    top:46%;
    z-index: 1;

    & > svg {
      @include size(400px);
    }
  }

  &_eventBanner
  {
    display: none;
    @include position(absolute, ($mainNavHeight + 1rem) 0 null null);
  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



