/**
  * "bigCover" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.bigCover
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : bigCover;

  // --------------------------------------------------------------------------- BLOCK

  // --------------------------------------------------------------------------- ELEMENTS

  // la div sur laquelle est appliquée l'image
  &_backgroundImage
  {
    // position
    position: relative;
    @include size(100%, 100vh);
    
    // style
    // background-image : directement dans la DOM
    background-size: cover;
    background-position: center;

    // overlay noir transparent
    &:after
    {
      content:'';
      @include position(absolute, 0);
      @include size(100%);
      //background-color: rgba(0,0,0,0.3);
    }
  }

  // zone de texte au bottom de la cover
  &_banner
  {
    // position
    @include size(100%, auto);
    @include position(absolute, null 0 0 0);
    padding: 2rem 3rem;

    // style
    background-color: rgba(0,0,0,0.4);
    color: $color1;
    text-align: center;
    @include lato-light();
    font-size: 1.05rem;
    //letter-spacing: 1px;
  }

  &_bannerText
  {
    // reset
    margin:0;
  }

  &_arrowDown
  {
    // position
    margin: 1rem auto 0;
    position: relative;
    @include size(13px);

    // style
    border-left: 3px solid $color6;
    border-bottom: 3px solid $color6;
    transform: rotate(-45deg);

  }

  // gros logo ADM centré sur l'image
  &_logo
  {
    @include center();
    top:46%;
    z-index: 1;

    & > svg {
      @include size(400px);
    }
  }


  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



