{#
 * @title: "bigCover" PHP View component
 * @description:
 #}

<div class="bigCover {{ classElement }}">

    {# video #}
    <video class="bigCover_video" src="{{ theme.path }}/src/common/videos/clip.mp4"
           autoplay muted loop type="video/mp4" ></video>

    {# logo ADM #}
    <div class="bigCover_logo">
        {% include "src/common/images/logo-adm-blanc.svg" %}
    </div>

    {# // TODO : link image url "home-header.jpg" avec WP back post thumbnail (image à la une) ?>#}
    {#<div class="bigCover_backgroundImage" #}
         {#style="background-image: url('{{ theme.path }}/src/common/images/home-header.jpg')">#}

        {# importer le composant eventBanner #}
        {%
            include "src/project/components/eventBanner/eventBanner.twig"
            with { 'classElement': 'bigCover_eventBanner' }
        %}
    {#</div>#}

</div>
