/**
  * "homePage" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.homePage
{
  // --------------------------------------------------------------------------- PROPERTIES

    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : homePage;

  // --------------------------------------------------------------------------- BLOCK

  // --------------------------------------------------------------------------- ELEMENTS

  &_header
  {

  }

  &_title
  {
    display: block;
    font-family: $font-stack-lucida-grande;
    color: rebeccapurple;
  }

  &_content
  {

  }


  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



