{#
 * @title: "homePage" TWIG view component
 * @description: Ce fichier correspond à la vue TWIG du composant
#}

<div class="homePage">
    <header class="homePage_header">
        {%
            include "./src/project/components/bigCover/bigCover.twig"
            with { 'classElement': 'homePage_bigCover' }
        %}

        {# banner #}
        <div class="homePage_banner">
            <p class="homePage_bannerText">
                {{ dico.homePage.banner }}
            </p>
            <div class="homePage_arrowDown"></div>
        </div>


    </header>
    <section class="homePage_content" role="main">

        {#importer "coworkersPresentationSection" component#}
        {%
            include "./src/project/components/coworkersPresentationSection/coworkersPresentationSection.twig"
            with { 'classElement': 'homePage_coworkersPresentationSection' }
        %}

        {#importer "coworkersPatchworkSection" component#}
        {# TODO: SYNC avec le BACK #}
        {%
            include "./src/project/components/coworkersPatchworkSection/coworkersPatchworkSection.twig"
            with {
                classElement: 'homePage_coworkersPatchworkSection',
                coworkers: [
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-01.png',
                        name: 'Lelia Whitney',
                        activity: 'graphiste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-02.png',
                        name: 'Mylène Coucou',
                        activity: 'touriste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-01.png',
                        name: 'Lelia Whitney',
                        activity: 'graphiste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-02.png',
                        name: 'Mylène Coucou',
                        activity: 'touriste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-01.png',
                        name: 'Lelia Whitney',
                        activity: 'graphiste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-02.png',
                        name: 'Mylène Coucou',
                        activity: 'touriste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-01.png',
                        name: 'Lelia Whitney',
                        activity: 'graphiste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-02.png',
                        name: 'Mylène Coucou',
                        activity: 'touriste'
                    },                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-01.png',
                        name: 'Lelia Whitney',
                        activity: 'graphiste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-02.png',
                        name: 'Mylène Coucou',
                        activity: 'touriste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-01.png',
                        name: 'Lelia Whitney',
                        activity: 'graphiste'
                    },
                    {
                        thumbUrl: theme.link ~ '/src/common/images/thumb-coworker-02.png',
                        name: 'Mylène Coucou',
                        activity: 'touriste'
                    },
                ]
            }
        %}

        {# importer "presentationAdmBlock" component #}
        {%
            include "./src/project/components/presentationAdmSection/presentationAdmSection.twig"
            with { 'classElement': 'homePage_presentationAdmSection' }
        %}

        {#importer "adherentSection" component#}
        {%
            include "./src/project/components/adherentSection/adherentSection.twig"
            with { 'classElement': 'homePage_adherentSection' }
        %}

         {#importer "featuresSection" component#}
        {%
            include "./src/project/components/featuresSection/featuresSection.twig"
            with { 'classElement': 'homePage_featuresSection' }
        %}

         {#importer "interestSection" component#}
        {%
            include "./src/project/components/interestSection/interestSection.twig"
            with { 'classElement': 'homePage_interestSection' }
        %}

    </section>
</div>
