{#
 * @title: "homePage" TWIG view component
 * @description: Ce fichier correspond à la vue TWIG du composant
#}

<div class="homePage">
    <header class="homePage_header">
        {%
            include "./src/project/components/bigCover/bigCover.twig"
            with { 'classElement': 'homePage_bigCover' }
        %}

        {# banner #}
        <div class="homePage_banner">
            <p class="homePage_bannerText">
                {{ dico.homePage.banner }}
            </p>
            <div class="homePage_arrowDown"></div>
        </div>


    </header>
    <section class="homePage_content" role="main">

        {# importer "presentation Adm Block" component #}
        {%
            include "./src/project/components/presentationAdmSection/presentationAdmSection.twig"
            with { 'classElement': 'homePage_presentationAdmSection' }
        %}

         {#importer "adherent Section" component#}
        {%
            include "./src/project/components/adherentSection/adherentSection.twig"
            with { 'classElement': 'homePage_adherentSection' }
        %}

    </section>
</div>
