
{#
 * @title: "dummyComponent" PHP view component
 * @description: Ce fichier correspond à la vue PHP du composant
 * On y insère de la DOM et on l'inclu ensuite là où l'on souhaite l'utiliser
#}

<div class="dummyComponent {{ classElement }} ">
    dummyComponent
</div>
