
/**
  * "fonts" stylesheet
  * declare common font face
 */

@import '~bourbon/core/_bourbon.scss';

// ----------------------------------------------------------------------------- DECLARE FONTFACE

/**
 * Déclare @font-face w/ Bourbon lib
 */

@include font-face( "lato-regular", "./lato/lato-regular", ("eot", "ttf", "woff"))
@include font-face( "sofia-regular", "./sofia/sofia-regular", ("eot", "ttf", "woff"))


@mixin fontProperties()
{
  font-style: normal;
  font-weight: 400;
}

// ----------------------------------------------------------------------------- MIXIN FONT

@mixin lato-regular()
{
  font-family: "lato-regular", sans-serif;
  @include fontProperties();
}


@mixin lato-light()
{
  font-family: "lato-light", sans-serif;
  @include fontProperties();
}


@mixin lato-bold()
{
  font-family: "lato-bold", sans-serif;
  @include fontProperties();
}


@mixin sofia-regular()
{
  font-family: "sofia-regular", sans-serif;
  @include fontProperties();
}

