/**
  * "adherentSection" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.adherentSection
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : adherentSection;

  // --------------------------------------------------------------------------- BLOCK

  @include pageGrid();

  // --------------------------------------------------------------------------- ELEMENTS

  &_content
  {

  }

  &_inlineWrapper
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //margin-top: 0.5rem;
  }

  &_adherentBlock
  {

  }


  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



