/**
  * "adherentSection" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.adherentSection
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : adherentSection;

    // espace entre les blocks verticalement et horizontalement
    $gutterBlock : 8px;

  // --------------------------------------------------------------------------- BLOCK

  @include pageGrid();

  // --------------------------------------------------------------------------- ELEMENTS

  &_content
  {

  }

  &_inlineWrapper
  {
    @include flex (flex, row, wrap, center, flex-start, $gutterBlock);
    margin-top: $gutterBlock;

    @media screen and (max-width: $medium) {
      display: block;
    }
  }

  &_adherentBlock
  {
    @include flexCol (2, 1, $gutterBlock);
  }


  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



