{#
 * @title: "adherentSection" TWIG view component
 * @description:
 #}

<div class="adherentSection {{ classElement }}">
    <div class="adherentSection_content">

        {# importer "adherent Block" #}
        {% include "./src/project/components/adherentBlock/adherentBlock.twig"
            with {
            classElement: 'adherentSection_adherentBlock',
            blockModifier: 'adherent',
            title: {
                verb: dico.adherentBlock.adherent.verb,
                calificatif: dico.adherentBlock.adherent.calificatif,
            },
            description: dico.adherentBlock.adherent.description,
            items: dico.adherentBlock.adherent.items,
            price: dico.adherentBlock.adherent.price.price,
            labelPrice: dico.adherentBlock.adherent.price.labelPrice
        } %}

        <div class="adherentSection_inlineWrapper">
            {# importer "adherent Block" #}
            {% include "./src/project/components/adherentBlock/adherentBlock.twig"
                with {
                classElement: 'adherentSection_adherentBlock',
                blockModifier: 'fixe',
                title: {
                    verb: dico.adherentBlock.fixe.verb,
                    calificatif: dico.adherentBlock.fixe.calificatif,
                },
                description: dico.adherentBlock.fixe.description,
                items: dico.adherentBlock.fixe.items,
                price: dico.adherentBlock.fixe.price.price,
                labelPrice: dico.adherentBlock.fixe.price.labelPrice,
                note: dico.adherentBlock.fixe.note
            } %}

            {# importer "adherent Block" #}
            {% include "./src/project/components/adherentBlock/adherentBlock.twig"
                with {
                classElement: 'adherentSection_adherentBlock',
                blockModifier: 'nomade',
                title: {
                    verb: dico.adherentBlock.fixe.verb,
                    calificatif: dico.adherentBlock.fixe.calificatif,
                },
                description: dico.adherentBlock.fixe.description,
                items: dico.adherentBlock.fixe.items,
                price: dico.adherentBlock.fixe.price.price,
                labelPrice: dico.adherentBlock.fixe.price.labelPrice,
                note: dico.adherentBlock.fixe.note
            } %}
        </div>
    </div>
</div>
