@import "../_mixins";
@import "../_variables";


// DEFAULT-TEMPLATE
// -----------------------------

.default-content{
	display: inline-block;
	vertical-align: top;
	width: 680px;
}


// SIDEBAR
// -----------------------------

.sidebar{
	display: inline-block;
	vertical-align: top;
	background-color: #388fa9;
	color: #ffffff;
	margin: 20px 0;
	margin-left: 10px;
	text-align: center;
	width: 225px;
	h4{
		font-size: 22px;
		font-family: open sans;
		line-height: 1.1em;
		margin: 20px 0 0 0;
		text-transform: uppercase;
		font-weight: 300;
	}
	h5{
		font-size: 13px;
		font-family: open sans;
		line-height: 1.8em;
		font-style: italic;
		margin: 0;
	}

}

// FORMULE
// --------------------------

.su-center {
  .su-column {
    .su-column-inner {
      img {
        display: block;
        width: 150px;
        margin: auto;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
}

.formule-content .su-row .su-column {
  background-color: white;
  padding: 30px 10px;
}
