// DEFAULT-TEMPLATE
// -----------------------------

.default-content{
	display: inline-block;
	vertical-align: top;
	width: 680px;
}


// SIDEBAR
// -----------------------------

.sidebar-container{
    background-color: $color-blue-dark;
    color: $color-white;
	display: inline-block;
	margin: 20px 0 20px 10px;
	text-align: center;
    padding: 20px;
	vertical-align: top;
	width: 225px;
	h4{
		font-size: 22px;
		font-family: open sans;
		font-weight: 300;
		line-height: 1.1em;
        margin: 0;
		text-transform: uppercase;
	}
	h5{
		font-size: 13px;
		font-family: open sans;
		line-height: 1.8em;
		font-style: italic;
		margin: 0;
	}
    ul {
        padding-left: 0px;
        text-align: left;
        li {
            margin-bottom: 10px;
            display: block;
            a {
                background-color: $color-white;
                padding: 3px 12px;
                color: $color-blue-dark;
                text-decoration: none;
                margin-bottom: 5px;
                display: block;
                text-align: center;
                &:hover{
                    background-color: $color-blue;
                    color: #fff;
                }
            }
        }
    }
}


// SIDEBAR-BLOG
// -----------------------------

#blog-sidebar-container  {
  .textwidget {
    //    padding-right: 20px;
  }
  aside{
      border-top: 1px solid $color-white;
      padding: 20px 0 0 0;
      &:nth-of-type(1){
          border-top: 0 solid transparent;
          padding: 0;
      }
  }
}

// FORMULE
// --------------------------

.su-center {
  .su-column {
    .su-column-inner {
      img {
        display: block;
        width: 150px;
        margin: auto;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
}

.formule-content .su-row .su-column {
  background-color: white;
  padding: 30px 10px;
}
