// --------------------------------------------------------------- */
/* #page-footer-container
/*
/* #page-footer
/*
/* #page-footer-information
/*
/* #page-footer-links
/*
// --------------------------------------------------------------- */


/* #page-footer-container
/* --------------------------------------------------------------- */
#page-footer-container{
    background: $color-white;
    padding: 20px 0;
    margin: 30px;
}


/* #page-footer
/* --------------------------------------------------------------- */
#page-footer{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}


/* #page-footer-information
/* --------------------------------------------------------------- */
#page-footer-information{
    color: $color-grey;
    margin: 10px auto;
    span{
        display: block;
    }
    #page-footer-logo{
        display: block;
        margin: 0 auto;
    }
}


/* #page-footer-links
/* --------------------------------------------------------------- */
#page-footer-links{
    font-size: 0.750rem;
    margin: 10px auto;
    a{
        text-decoration: none;
    }
}

