@import "../_variables.scss";

#home_map_and_text {
    display: table;
    padding-top: 20px;
    padding-bottom: 20px;
}

#home_map_container, #home_text {
    display: table-cell;
    vertical-align: top;
}

#home_map_container {
    padding-right: 20px;
}

#home_map_canvas {
  width: 500px;
  height: 360px;
  background-color: #CCC;
}

#home_text {
  padding: 10px;
  background-color: $color-gray-lighter;
  h1, p {
    color: white;
  }
  h1 {
    font-size: 24px;
  }
}

