@import "../_variables.scss";

#home_picture {
    background-color: white;
}

#home_map_and_text {
    display: table;
    table-layout: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#home_map_container, #home_text {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

#home_map_container {
    padding-right: 20px;
}

#home_map_canvas {
  width: 100%;
  height: 320px;
  background-color: #CCC;
}

#home_text {
  padding: 10px 30px;
  background-color: $color-gray-lighter;
  h1, p {
    color: white;
  }
  h1 {
    font-size: 24px;
  }
}

