/**
  * @Filename: body
  * @Description: body Layout style
*/
//------------------------------------------------------------------------------  IMPORT

@import '../_common';

//------------------------------------------------------------------------------  BODY

body
{
  // global font size
  font-size: 16px;

  // global color
  color: $color2;

  // global background
  background: $color1;

  // global font

}

