/**
  * @Filename: body
  * @Description: body Layout style
*/
//------------------------------------------------------------------------------  IMPORT

@import '../_common';

//------------------------------------------------------------------------------  BODY

body
{
    // background motif
    background: url('../images/background-01.jpg') repeat;

    // global font size
    font-size: 16px;
;
    // global color
    color: $color2;

    // global interlignage
    line-height: 1.5rem;

    // global interlettrage
    letter-spacing: 0.03rem;

    // global font
    @include lato-regular();

}

