/**
  * @Filename: body
  * @Description: body Layout style
*/
//------------------------------------------------------------------------------  IMPORT

@import '../_common';

//------------------------------------------------------------------------------  BODY

body
{






  // en attendant de globaliser le style pour toutes les pages
  &.home
  {
    background: url('../images/background-01.jpg') repeat;

    // global font size
    font-size: 16px;
;
    // global color
    color: $color2;

    // global font
    @include lato-regular();

  }






}

