/**
  * @Filename: overlay absolute
  * @Description:
*/

@import '~bourbon/core/_bourbon.scss';

// ----------------------------------------------------------------------------- MIXIN

// mixin importée dans mixins ci-dessous
@mixin overlay()
{
  content: '';
  @include position(absolute, 0);
  @include size(100%);
  //z-index: -1;
}


// black trans
@mixin overlay-black($opacity: 0.3)
{
  &:after
  {
    @include overlay();
    background-color: rgba(0,0,0,$opacity);

  }
}

// whtite trans
@mixin overlay-white($opacity: 0.3)
{
  &:after
  {
    @include overlay();
    background-color: rgba(255,255,255,$opacity);
  }
}
