{#
 * @title: "presentationAdmSection" TWIG view component
 * @description:
 #}

<div class="presentationAdmSection {{ classElement }}">
    {# TODO à placer en back #}

    <section class="presentationAdmSection_wrapper">
        <div class="presentationAdmSection_content">
            <h1 class="presentationAdmSection_title">{{ dico.presentationAdmSection.title }}</h1>

            <div class="presentationAdmSection_text">
                {# TODO text en ADMIN depuis la page "home" #}
                {% for paragraph in dico.presentationAdmSection.paragraphs %}
                    <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

