{#
 * @title: "mainMenu" TWIG view component
 * @description:
#}

<div class="mainMenu {{ classElement }}">
    <div class="mainMenu_content">

        {# include "menu" component #}
        {%
            include "src/project/components/menu/menu.twig"
            with { 'classElement': 'mainMenu_menu' }
        %}

        {# include "socialBlock" component #}
        {%
            include "src/project/components/socialBlock/socialBlock.twig"
            with { 'classElement': 'mainMenu_socialBlock' }
        %}

        {# include "intranetConnection" component #}
        {%
            include "src/project/components/intranetConnection/intranetConnection.twig"
            with { 'classElement': 'mainMenu_intranetConnection' }
        %}

        {# include "languageBlock" component #}
        {%
            include "src/project/components/languageBlock/languageBlock.twig"
            with { 'classElement': 'mainMenu_languageBlock' }
        %}

    </div>
</div>
