
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>

	<body class="{{body_class}}" data-template="base.twig">

		<section id="app" role="main" class="app">

				{% block content %}
					Sorry, no content
				{% endblock %}

		</section>

	</body>
</html>
