/**
  * "languageBlock" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.languageBlock
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : languageBlock;

  // --------------------------------------------------------------------------- BLOCK

  @include size( ($relativeColumnWidth * 1) , auto );

  // --------------------------------------------------------------------------- ELEMENTS

  &_items
  {
    // position
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1.5rem;

    // style
    list-style: none;
  }

  &_item
  {
    &:last-child
    {
      margin-left: 0.8rem;
    }
  }

  &_link
  {
    // style
    @include title-smallUppercase($color1);

    &-active
    {
      color: $color3;
    }

  }
  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



