{#
 * @title: "languageBlock" TWIG View component
 * @description:
#}

<div class="languageBlock {{ classElement }}">
    <ul class="languageBlock_items">
        <li class="languageBlock_item">
            {# TODO dico #}
            <a class="languageBlock_link languageBlock_link-active" href="">{{ dico.languageBlock.FR }}</a>
        </li>
        <li class="languageBlock_item">
            {# TODO dico #}
            <a class="languageBlock_link" href="">{{ dico.languageBlock.EN }}</a>
        </li>
    </ul>
</div>
