/**
  * "featuresSection" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.featuresSection
{
  // --------------------------------------------------------------------------- PROPERTIES

    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : featuresSection;

  // --------------------------------------------------------------------------- BLOCK

  background: $color1;

  top: -30rem;
  position: relative;
  padding: 20rem 0 5rem;
  z-index: -1;

  // --------------------------------------------------------------------------- ELEMENTS

  &_wrapper
  {
    @include pageGrid();
  }

  &_content
  {
   @include flex (flex, row, wrap, flex-start, flex-start, 1rem);
  }

  &_featureBlock
  {
    margin-top: 1rem;
    @include flexCol (4, 1, 1rem, false);
  }


  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



