/**
  * "navBar" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.navBar
{
  // --------------------------------------------------------------------------- PROPERTIES

    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : navBar;

  // --------------------------------------------------------------------------- BLOCK

  // style
  background: $color7;
  visibility: visible;

  @media screen and (max-width: $large) {
    background: rgba(0,0,0,0.9);
    // cacher le menu par defaut en mobile
    visibility: hidden;
  }

  // --------------------------------------------------------------------------- ELEMENTS

  &_content
  {
    @include size(100%, $navBarHeight);
    display: flex;
    align-items: center;
    justify-content: flex-end;


    @media screen and (max-width: $large) {
      display: block;
      @include size(100%, auto);
      @include center();
    }
  }

  &_menu
  {

  }
  
  &_socialBlock 
  {

  }

  &_intranetConnection
  {
    // ligne de séparation
    // (placée sur le parent pour qu'elle soit relative uniquement au composant
    // navBar et que l'on puisse réutiliser le composant "intranetConnection" sans
    // cette ligne de séparation à un autre endroit dans le projet)
    border-right: 1px solid $colorNavBarLine;
    padding: 0 1.5rem;
  }

  &_languageBlock
  {
    @media screen and (max-width: $large) {
      display: block;
      margin: 2rem auto;
    }
  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



