/**
  * "navBar" stylesheet
  * follow workflow instructions
 */

// -----------------------------------------------------------------------------  IMPORT

// common style & mixins
@import '../../../common/_common';

// -----------------------------------------------------------------------------  DEBUT STYLE

.navBar
{
  // --------------------------------------------------------------------------- PROPERTIES


    // Call block element anywhere. Use it like this : .#{$this}_element
    $this : navBar;
    //$navBarHeight : 3rem;

  // --------------------------------------------------------------------------- BLOCK

  @include size(100%, $navBarHeight);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  // style
  background: $color7;

  // --------------------------------------------------------------------------- ELEMENTS

  &_menu
  {

  }
  
  &_socialBlock 
  {

  }

  &_intranetConnection
  {
    // ligne de séparation
    // (placée sur le parent pour qu'elle soit relative uniquement au composant
    // navBar et que l'on puisse réutiliser le composant "intranetConnection" sans
    // cette ligne de séparation à un autre endroit dans le projet)
    border-right: 1px solid $colorNavBarLine;
    @include size(auto, $navBarHeight);
    padding: 0 1.5rem;
  }

  &_languageBlock
  {

  }

  // --------------------------------------------------------------------------- MODIFIERS

  // --------------------------------------------------------------------------- CHILDREN

  // --------------------------------------------------------------------------- PATCHES

}



