@import "../_mixins";
@import "../_variables";

.blog {
  article {
    display: block;
    width: 100%;
    background: white;
    padding: 0px;
    margin: 20px 0px;
    min-height: 200px;

    .post_text, .thumbnail {
      display: inline-block;
      vertical-align: top;
      max-width: 100%;
    }

    .post_text {
      padding: 10px 0px 0px 10px;

      h2:first-child {
        margin-top: 0;
        margin-bottom: 0;
      }

      + article {
        margin-top: 10px;
      }

      .published {
        color: $color-gray-light;
      }

      .author a {
        text-decoration: none;
        color: $color-green-light;
      }
    }
  }

  ul.post-categories {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      display: inline-block;
      background-color: $color-green-light;
      padding: 0px 6px;
      font-size: 0.9em;

      a {
        color: white;
        text-decoration: none;
        font-weight: bolder;
      }

      a:hover {
      }
    }
  }

  .nav-single {
    padding-bottom: 30px;
    .nav-previous, .nav-next {
      background-color: $color-green-light;
      padding: 3px 12px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .nav-next {
      float: right;
    }
  }
}

.blog.single-article{
  article{
    padding: 40px;
    max-width:100%;
    display: block;
    img{
      max-width:100%;
    }
  }
}

// .list-article
.blog{
  article.list-article{
    max-width:100%;
    display: block;
    position: relative;
    .thumbnail {
      text-align: right;
      width: 220px;
      height: 200px;
    }
    .post_text{
      width: 435px;
      margin-right: 20px;
      h2{
        line-height: 20px;
        font-size: 18px;
        margin: 0 0 8px 0;
      }
      p{
        font-size: 13px;
        margin: 5px 0;
      }
    }
    .entry-meta{
      position: absolute;
      bottom: 5px;
      font-size: 13px;
      left: 10px;
    }
  }
}